/******************** Réglages généraux **************************/

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

h1 {
  font-size: 3.4rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

p {
  line-height: 36px;
  margin: 25px 0;
}

.button {
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font: 700 0.75rem "Source Sans Pro";
  transition: 0.3s;
}

.button:hover,
footer a:hover {
  border: 1px solid skyblue;
  color: skyblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}

.section-1,
.section-2,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}

/********************** Corps du site ****************************/

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  min-height: 100vh;
  /* height: ;
    max-height: ; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-banner {
  background: url(../images/banner.jpg) right/cover;
}

/************************ Section 1 ******************************/

.section-1 {
  display: grid;
  grid-template-columns: 37% 63%;
  min-height: 400px;
}

.section-1 .img {
  background: url(../images/img-left.jpg) center/cover;
}

/************************ Section 2 ******************************/

.section-2 {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 400px;
}

.section-2 .img {
  background: url(../images/img-right.jpg) center/cover;
}

/************************* Contact *******************************/

.contact {
  text-align: center;
  padding: 60px 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 224px;
  grid-template-areas: "input1 input2" "textarea textarea";
  gap: 10px;
  width: 85%;
  margin: 30px auto;
  max-width: 600px;
}

label {
  font-weight: 600;
  font-size: 0.8;
  letter-spacing: 1px;
}

input[type="text"],
textarea {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.2s;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid skyblue;
}

.textarea {
  grid-area: textarea;
}

textarea {
  height: 180px;
  resize: none;
}

/************************** Footer *******************************/

footer {
  padding: 70px 0 90px;
  position: relative;
}

footer:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
  margin: 0 auto;
  min-width: 300px;
}

footer a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************ Responsive *****************************/

@media screen and (max-width: 650px) {
  header,
  .section-1,
  .section-2 {
    display: block;
  }
  header {
    height: auto;
  }
  header .img-banner {
    height: 50vh;
    margin-top: 30px;
  }
  .container {
      padding: 15px;
  }
  footer ul {
      min-width: 200px;
  }
  footer a {
      width: 30px;
      height: 30px;
  }
  footer i {
      font-size: 00.75rem;
  }
}
